@using Games_Mvc.Setting;
@model CreateGameViewModel;
@{
    ViewData["Title"] = "Create Game";
}


<h4 class="text-secondary"><i class="bi bi-plus-circle"></i> Add a New Game</h4>
<form asp-controller="Game" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedDevices" class="form-label mt-4"></label>
                <select class="form-select" asp-for="SelectedDevices" asp-items="Model.Devieces">
                    <option>Select devices</option>
                </select>
                <span asp-validation-for="SelectedDevices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cover" class="form-label mt-4"></label>
                <input  class="form-control" asp-for="Cover" name="Cover" id="cover"
                       data-rule-extension="@FileSettings.AllowedExtensions.Replace(".",string.Empty)"
                       data-msg-extension="only @FileSettings.AllowedExtensions are allowed">
                <small class="form-text text-muted">Only .jpg, .jpeg, .png files are allowed with max size 1MB.</small>
                <span asp-validation-for="Cover" class="text-danger d-block"></span>
            </div>
            <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        </div>
        <div class="col-md-6">
            <img alt="cover" class="cover-show"/>
        </div>
    </div>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function(){
            $('#cover').on('change',function(){
                $('.cover-show').attr('src',window.URL.createObjectURL(this) )
            });
        });

    </script>
}